

.cv-center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.cv-btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

.cv-container svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.cv-btn:hover {
  transition: 1s ease-in-out;
  /* background: #4f95da; */
}

.cv-btn:hover  svg {
  stroke-dashoffset: -480;
}

.cv-btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


/* 
  <div class="container">
    <div class="center">
      <button class="btn">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>HOVER ME</span>
      </button>
    </div>
  </div>
 */

