/* toast notification */

#toastContainer :where(.toast, .column) {
  display: flex;
  align-items: center;
}
#toastContainer .toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
#toastContainer .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 4s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before {
  background: #0ABF30;
}
.toast.error::before {
  background: #e11717;
}
.toast.warning::before{
  background: #E9BD0C;
}

.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: #0ABF30;
}
.toast.error .column i {
  color: #e11717;
}
.toast.warning .column i {
  color: #E9BD0C;
}
.toast.info .column i {
  color: gray;
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
  &:hover{
    color: var(--text-color);
  }
}

@media screen and (max-width: 530px) {
  #toastContainer {
    width: 95%;
    right: 18px;
  }
  #toastContainer .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }

}